@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

:root{
  --font: "Montserrat";
  --header-font: "Fasthand", cursive;
  --primary: #4176B2; 
  --black-200: #303030;
  --black-100: #030303;
  --white: #FEFEFE;
  --white-2: #F5F5F5;
  --gold: #F5A96D;
  --spacing-x: 35px;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}


* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--font);
  letter-spacing: 0.025px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 1263px !important;
  overflow-x: hidden;
}

#root{
  display: flex;
  justify-content: center;
}

/* TEXT-DEFAULTS: START */

.title{
  color: var(--white);
  font-size: 30px;
  font-weight: var(--fw-bold);
}

.subtitle{
  color: var(--white);
  font-size: 24px;
  font-weight: var(--fw-regular);
}

.heading-primary{
  color: var(--primary);
  font-size: 21px;
  font-weight: var(--fw-semi-bold);
}

.heading-black{
  color: var(--black-100);
  font-size: 21px;
  font-weight: var(--fw-semi-bold);
}

.subheading-black{
  font-size: 18px;
  line-height: 30px;
  font-weight: var(--fw-medium);
  color: var(--black-100);
}

.subheading-white{
  font-size: 18px;
  line-height: 30px;
  font-weight: var(--fw-medium);
  color: var(--white);
}

.text-white-regular{
  font-size: 18px;
  color: var(--white);
  font-weight: var(--fw-regular);
}

.text-black-regular{
  font-size: 18px;
  color: var(--black-200);
  font-weight: var(--fw-regular);
}

.text-white-light{
  font-size: 18px;
  color: var(--white);
  font-weight: var(--fw-light);
}

.text-black-light{
  font-size: 18px;
  color: var(--black-200);
  font-weight: var(--fw-light);
}

.page-number{
  z-index: 1000;
  width: 892px;
  position: relative;
  display: flex;
  justify-content: end;
}

.page-number span{
  font-family: "Montserrat";
  font-weight: 900;
  font-style: italic;
  font-size: 64px;
  color: #FEFEFE;
  -webkit-text-stroke: 1px rgba(48, 48, 48, 0.5);
  /* text-stroke: 1px rgba(48, 48, 48, 0.3); */
  paint-order: stroke fill;
  position: absolute;
  right: 0;
  bottom: 0;
}

a{
  text-decoration: none;
  color: var(--white);
}

a:visited{
  text-decoration: none;
  color: var(--white);
}
/* TEXT-DEFAULTS: END */

/* HEADER COMPONENT: START */

.header{
  height: 100px;
  width: 100vw;
  display: flex;  
  justify-content: space-around;
  align-items: center;
  color: var(--primary);
  border-bottom: solid  0.5px rgba(3, 3, 3, .2);
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
}

.header span:nth-child(1){
  font-family: var(--header-font);
  font-size: 40px;
}

.header span:nth-child(2){
  font-size: 16px;
  font-weight: var(--fw-medium);
}

/* HEADER COMPONENT: END */

/* PROFILE COMPONENT: START */

.profile {
  display: flex;
  margin: 0 0 0 0;
  padding: 0;
  /* width: 210mm; */
  /* height: 297mm; */
  width: 892px;
  height: 1263px;
  background-color: var(--white);
  /* border-radius: 10px; */
  /* border: solid thin white; */
}

/* PROFILE COMPONENT: END */

/* LEFT */

.left {
  width: 375px;
  height: 100%;
  background-color: var(--primary);
  margin: 0;
  padding: 0;
}

img{
  height: 375px;
  width: 375px;
  object-fit: cover;
  max-width: 375px;
  max-height: 375px;
  margin: 0;
  padding: 0;
  /* object-position: 15% 15%; */
}

.leftHeader{
  width: 100%;
  background-color: var(--white);
  height: 37.5px;
  border-left: solid 25px var(--gold);
  display: flex;
  align-items: center;
  padding: 0 25px;
  color: var(--primary);
}

.leftContents ul li{
  list-style: none;
  margin: var(--spacing-x);
  display: flex;
  align-items: start;
  width: 300px;
  max-width: 300px;
  /* border: solid thin white; */
}

.leftContents ul li p{
  text-wrap: wrap;
  width: 265px;
  max-width: 265px;
  word-wrap: break-word;
}

.svg-icon{
  height: 22.5px;
  width: 22.5px;
  max-height: 22.5px;
  max-width: 22.5px;
  margin-right: 15px;
}

/* CONTACT COMPONENT: START */

#contact-component{
  margin-top: -5px;
}

/* CONTACT COMPONENT: END */

/* EDUCATION COMPONENT: START */

#education-component .leftContents ul li{
  display: block;
}

#education-component .leftContents ul li p:nth-child(1){
  display: block;
  margin-bottom: 10px;
}

/* EDUCATION COMPONENT: END */

/* SKILL COMPONENT: START */

#skill-component{
}

#skill-component .leftContents{
  width: 300px;
  max-width: 300px;
  text-align: justify;
  margin: var(--spacing-x);
  /* border: solid thin white; */
}

#skill-component .leftContents span{
  font-size: 17px;
  line-height: 30px;
}

/* SKILL COMPONENT: END */

/* RIGHT */

.right {
  width: 517px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.rightHeader{
  width: 100%;
  background-color: var(--white);
  height: 15px;
  /* border: solid thin red; */
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-x);
  color: var(--black-100);
}

.rightContents{
  padding: var(--spacing-x);
  width: 100%;
  height: 37.5px;
}

/* NAME COMPONENT: START */

.name {
  background-color: #4176B2;
  height: 150px;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--spacing-x);
}

.name span:nth-child(1){
  margin-bottom: 5px;
}

/* NAME COMPONENT: END */

/* BIO COMPONENT: START */

.bio{
  height: 225px;
  max-height: 225px;
  min-height: 225px;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  width: 100%;
  /* margin-bottom: 25px; */
}

.bio p{
  margin: 0 var(--spacing-x);
  text-align: justify;
  line-height: 30px;
}

.bio a{
  color: var(--black-100);
  text-decoration: underline;
}

/* BIO COMPONENT: END */

/* EXPERIENCE AND ADDITIONS : START */

#experienceAndAdditions{
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 888px;
  padding-top: 30px;
  /* border: solid thin red; */
}

#experienceAndAdditions > div{
  margin-bottom: 0px;
}

#experienceAndAdditions > div div{
  margin-bottom: 0;
  padding-bottom: 0;
}


/* EXPERIENCE AND ADDITIONS : END */

/* WORK EXPERIENCE COMPONENT: START */

#workExperience-component{
  /* margin-top: 2.5px; */
  /* border: solid thin red; */
  /* height: fit-content; */
  /* height: 250px; */
}  
  
#workExperience-component .rightContents{
  /* display: flex;
  flex-direction: column; */
}

#workExperience-component .rightContents div{
  padding-bottom: 5px;
  /* border: solid thick red; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 5px;
}

#workExperience-component .rightContents div p{
  padding-bottom: 10px;
}

/* WORK EXPERIENCE COMPONENT: END */

/* ADDITIONS COMPONENT: START */

#additions-component{
  
}

#additions-component > div div{
  margin-bottom: 0px;
  line-height: 30px;
  padding: 5px 0;
}

/* ADDITIONS COMPONENT: END */

/* CARDS COMPONENT: START */

.cards{
  display: flex;
  /* width: 100%; */
  justify-content: center;
  margin: 150px 0 50px 0;
  flex-wrap: wrap;
  flex: 1 0 33.33%;
  /* width: 1080px; */
}

/* CARDS COMPONENT: END */

/* CARD COMPONENT: START */

.card{
  border: solid 1.5px rgba(3, 3, 3, 0.4);
  border-radius: 5px;
  margin: 25px;
  /* width: 300px; */
}

.card img{
  height: 350px;
  width: 350px;
  object-fit: cover;
  max-width: 350px;
  max-height: 350px;
  margin: 0;
  padding: 0;
  /* object-position: 15% 15%; */
}

.card p{
  text-decoration: none !important;
}

.card .card-name-code{
  height: 120px;
  max-height: 120px;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  color:  var(--white);
  justify-content: center;
  padding: 0 25px;
  /* width: 300px; */
  margin-top: -5px;
}

.card-name{
  font-size: 20px;
  line-height: 30px;
  font-weight: var(--fw-medium);
  color: var(--white);
  margin-bottom: 5px;
}

.card-code{
  font-size: 16px;
  line-height: 30px;
  font-weight: var(--fw-light);
  color: var(--white);
}

.card-tags{
  height: 50px;
  padding-left: 25px;
  display: flex;
  align-items: center;
  font-size: 12px;
  width: 350px;
  color: var(--black-100);
}

.card-tags:visited{
  color: var(--black-100);
}

@media (max-width: 1200px) {
  .cards {
    flex: 1 0 45%; /* 45% width for medium screens */
  }
}

@media (max-width: 768px) {
  .cards {
    flex: 1 0 100%; /* 90% width for small screens */
  }
}

/* CARD COMPONENT: END */

/* A4 RELATED. */

* {
  box-sizing: border-box;
  
  -moz-box-sizing: border-box;
}

.page {
  width: 210mm;
  min-height: 297mm;
  padding: 20mm;
  margin: 10mm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-color: red!important; */
}

@page {
  size: A4;
  margin: 0;
  padding: 0;
  background-color: blueviolet;
}

/* @media print {

   .page {
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
    position: relative;
  }
} */

.page {
  width: 210mm;
  min-height: 297mm;
  padding: 20mm;
  margin: 10mm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
  padding: 1cm;
  border: 5px red solid;
  height: 257mm;
  outline: 2cm #FFEAEA solid;
}

@page {
  size: A4;
  margin: 0;
}
/* @media print {
  html, body {
      width: 210mm;
      height: 297mm;        
  }
  .page {
      margin: 0;
      border: initial;
      border-radius: initial;
      width: initial;
      min-height: initial;
      box-shadow: initial;
      background: initial;
      page-break-after: always;
  }
} */

/* RESCALE & PRINT. */

.rescale{
  transform: scale(0.5);
}

body{
  /* transform: scale(0.90); */
  background-color: var(--white-2);
}

@media print {
  body {
    visibility: hidden;
  }
  #profile-component {
    visibility: visible;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}